.doctor-extra-infor-container {
  .content-up {
    .content-up-threads {
      font-weight: 600;
      font-size: 20px;
    }
    .content-up-contentUP {
      font-weight: 500;
      font-size: 16px;
    }
    .content-up-contentDOWN {
      font-weight: 500;
      font-size: 16px;
    }
  }
  .content-down {
    a {
      text-decoration: none;
    }
  }
}
